
@{
    ViewBag.Title = "Index";
}

<fieldset>
    <legend class="">Room Setup</legend>
    <div class="form-horizontal">
        <div class="box-body col-md-offset-2">
            <div class="form-group hidden">
                <div class="col-md-4">
                    <input type="text" class="form-control" id="RoomId" name="RoomId" value="0">
                </div>
            </div>
            <div class="form-group ">
                <label for="RoomCode" class="col-md-3 control-label required">Room Code</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="RoomCode" name="RoomCode">
                </div>
            </div>
            <div class="form-group ">
                <label for="RoomDetails" class="col-md-3 control-label required">Room Details</label>
                <div class="col-md-4">
                    <textarea type="text" class="form-control" id="RoomDetails" name="RoomDetails"></textarea>
                </div>
            </div>
            <div class="form-group ">
                <label for="DepartmentId" class="col-md-3 control-label required">Department</label>
                <div class="col-md-4">
                    <select type="text" class="form-control" id="DepartmentId" name="DepartmentId"></select>
                </div>
            </div>


            <div class="form-group ">
                <div class="col-md-1 col-md-offset-3">
                    <input type="button" class="form-control btn btn-success btn-block" id="btnSave" value="Save">
                </div>
                <div class="col-md-1">
                    <input type="button" class="form-control btn btn-warning btn-block" id="btnClear" value="Clear">
                </div>
            </div>
        </div>
    </div>
</fieldset>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Room List</h3>
                <span class="pull-right clickable"><i class="fa fa-angle-double-up"></i></span>
            </div>
            <div class="panel-body">
                <div id="div-list">
                    <table id="RoomTable">
                        <thead>
                            <tr>
                                <th>Room ID</th>
                                <th>Room Code</th>
                                <th>Room Details</th>
                                <th>Department</th>
                                <th>Action</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script src="~/js/room.js"></script>

    <script type="text/javascript">
        Roomsetup.init();
    </script>
}




